S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT_URL=https://object-store.rc.nectar.org.au
S3_REGION=us-east-1
S3_BUCKET=
S3_PREFIX_TOOL_RUNS=galaxy/nginx-logs/tool_runs/
S3_PREFIX_WORKFLOW_INVOCATIONS=galaxy/nginx-logs/workflow_invocations/

GALAXY_DATABASE_URL=postgresql+psycopg2://user:pass@host:5432/galaxy
GALAXY_ID_SECRET=

INFLUX_URL=https://influx.example.org:8086
INFLUX_DB=galaxy
INFLUX_TOKEN=
